@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: auto;
  background-color: white;
}

* {
  scroll-behavior: smooth;
}

.fontEncode {
  font-family: "Encode Sans", sans-serif;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Stacking Sections */
.stack-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  /* transition: visibility 0s, opacity 0.3s linear; */
  transition: opacity 0.2s ease, transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), visibility 0.2s;
}

.stack-section.active-section {
  pointer-events: auto;
  visibility: visible;
}

/* Dragging cursors */
.cursor-grab {
  cursor: grab;
}
.cursor-grabbing {
  cursor: grabbing;
}

/* Project Card sizing */
.project-card {
  flex-shrink: 0;
  user-select: none;
}

/* Fix Mobile Menu */
#mobile-menu {
  z-index: 200;
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

#menu-toggle {
  z-index: 210;
}
