@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

.fontEncode {
  font-family: "Encode Sans", sans-serif;
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* card-text */
.card-text {
  background: #ffffff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(82, 82, 82, 0.4) 50%, rgba(0, 0, 0, 1) 100%);
}

/* text on the right side (dropcap) - project */
.dropcap {
  float: left;
  font-size: 4rem;
  line-height: 1;
  margin-right: 8px;
  font-weight: bold;
  font-family: serif;
}
